{{ form_start(form) }}
    {{ form_row(form._username, {'attr': {'required': true}, 'widget_attr': {'class': 'oocss-full-container-width'}, 'label': 'nom d\'utilisateur'}) }}
    {{ form_row(form._password, {'attr': {'required': true}, 'widget_attr': {'class': 'oocss-full-container-width'}, 'label': 'mot de passe' }) }}
    <div class="formfieldset oocss-full-container-width oocss-form-validate">
        <div class="oocsss-form-row oocss-center-h">
            <input type="checkbox" class="oocss-form-input-button" id="_remember_me" name="_remember_me">
            <label for="_remember_me">Se souvenir de moi</label>
        </div>
        <button class="oocss-button oocss-form-submit">Se connecter</button>
    </div>
{{ form_end(form) }}